body
{
  margin:0;
  color: black;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1
{
  font-size: 5rem; /* it is personally recommended to use rem(root em( *times of the font)) because to avoid problems with it's parent */
  margin: 100px auto 0;
  font-family: 'Dosis', sans-serif;
  color:red;
  text-shadow: 2px 2px 5px white;
  padding-top: 15px;
  padding-bottom: 50px;
}


.top-container
{
  background-color: black;
  padding-top: 1px;
  position: relative;

}

.middle-container
{
  margin: 0;
}

.bottom-container
{
  background-color: red;
  position: relative;
  padding: 20px;
}

.title-heading
{
  margin-top: 10px;
}
.crime-image
{
  width: 1530px;
  height: 300px;
}

.middle-inner-container
{
  padding: 100px 500px;
}

.login-heading
{
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  width: 200px;
  height: 100px;
  color:black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 73px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password]
{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus
{
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
